<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ICWSWebService</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Login Servlet</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>view.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>CreateUser Servlet</description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>view.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>AddItem Servlet</description>
		<display-name>AddItemServlet</display-name>
		<servlet-name>AddItemServlet</servlet-name>
		<servlet-class>view.AddItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>GetItem Servlet</description>
		<display-name>GetItemServlet</display-name>
		<servlet-name>GetItemServlet</servlet-name>
		<servlet-class>view.GetItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>SearchItem Servlet</description>
		<display-name>SearchItemServlet</display-name>
		<servlet-name>SearchItemServlet</servlet-name>
		<servlet-class>view.SearchItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Get Whole Item Servlet</description>
		<display-name>GetWholeItemListServlet</display-name>
		<servlet-name>GetWholeItemListServlet</servlet-name>
		<servlet-class>view.GetWholeItemListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Update Servlet</description>
		<display-name>UpdateServlet</display-name>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>view.UpdateServlet</servlet-class>
	</servlet>

	<servlet>
		<description>UpdateDeleteItem Servlet</description>
		<display-name>UpdateDeleteItemServlet</display-name>
		<servlet-name>UpdateDeleteItemServlet</servlet-name>
		<servlet-class>view.UpdateDeleteItemServlet</servlet-class>
	</servlet>

	<servlet>
		<description>Delete Servlet</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>view.DeleteServlet</servlet-class>
	</servlet>
	<resource-ref>
		<description>MySQL Datasource</description>
		<res-ref-name>jdbc/mysql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>